<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>

<% if user_signed_in? %>
  Hello, <%=current_user.email %> | <%= link_to 'Sing out', destroy_user_session_path, data: { 'turbo-method': :delete} %>
<% else %>
  <%= link_to 'Sing in', new_user_session_path %>
<% end %>



<!--  <a href="/users/sign_in">Sign In</a> |  <a href="/users/sign_out" data-method="delete">Sign Out</a>-->

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</body>
</html>
